@import '../../../colors.scss';

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  .logo-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    .logo {
      font-size: 2rem;
      color: $primary-text;
      font-weight: 800;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.85rem;
      gap: 2rem;
    }
  }

  .register-login {
    display: flex;
    gap: 1rem;
  }
}
