<header class="app-header">
  <div class="logo-menu">
    <h1><a class="logo" href="/">snap</a></h1>
    <nav>
      <ul class="menu">
        <li><a href="/features">Features</a></li>
        <li><a href="/">Company</a></li>
        <li><a href="/">Careers</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="register-login">
    <button class="primary"><a href="/login">Login</a></button>
    <button class="secondary"><a href="/">Register</a></button>
  </div>
</header>
