<section class="app-home">
  <div class="presentation">
    <h1 class="title">
      Make <br />
      remote work
    </h1>
    <p>
      Get your team in sync, no matter your location. Streamline process, create
      team rituals, and watch produtivity soar.
    </p>
    <button class="terciary">Learn more</button>

    <div class="client-logo">
      <img src="./assets/client-databiz.svg" alt="" />
      <img src="./assets/client-audiophile.svg" alt="" />
      <img src="./assets/client-meet.svg" alt="" />
      <img src="./assets/client-maker.svg" alt="" />
    </div>
  </div>
  <div class="image">
    <img src="./assets/image-hero-desktop.png" alt="" />
  </div>
</section>
